.search_form {
  display: grid;
  justify-content: center;
  margin-top: 10px;
}
.search_input {
  width: 50vw;
  height: 5vh;
  padding-left: 5px;
}
.search_input:focus {
  border-width: 2px;
}
.wrong_input {
  background-color: rgba(255, 0, 0, 0.39);
  transition: all ease-in-out;
}

.error_msg {
  display: block;
  text-align: center;
  color: red;
  font-weight: 600;
}
